{% extends "base.html" %}{% block title %}Client Login{% endblock %} {% block content%}

  <body>

    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
            <img src="{{url_for('static', filename='images/login/img-01.png')}}" alt="IMG">
          </div>
  
          <form class="login100-form validate-form" id="loginForm" method="POST" action"/client-login" autocomplete="off"> 
            <input autocomplete="false" name="hidden" type="text" style="display:none;">
            <span class="login100-form-title">
              Login Account
            </span>
  
            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
              <input type="text" name="email" class="input100" id="email" autocomplete="off" placeholder="Email">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>
  
            <div class="wrap-input100 validate-input" data-validate = "Password is required">
              <input type="password" name="password" class="input100" id="password" autocomplete="off"  placeholder="Password">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>
            
  
            <div class="col-12 my-md-3">
              {# TOO MANY ATTEMPTS TIMER#} 
              <span id="manyAttempt" style="display: none; color: #8B0000;">Many incorrect attempt... Please wait for <span id="countdownDisplay" style="font-size: 14px;"></span> seconds before trying again.</span>
              {# DISPLAY NOTIFICATION ERROR  #} 

              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages%}
                  {% if category == 'error' %}
                  <div class="alert alert-danger alter-dismissable fade show" role="alert" style="z-index:1;">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endwith %}
              <div class="container-login100-form-btn">
                <button class="login100-form-btn" type="submit" id="submitBtn">
                  Login
                </button>
              </div>
             </div>
  
            <div class="text-center p-t-12">
              <span class="txt1">
                Forgot
              </span>
              <a class="txt2" href="#" data-target="#exampleModal" data-toggle="modal" >
                Password?
              </a>
            </div>

            
        
            <div class="text-center p-t-136">
              <a class="txt2" href="#">
                Create your Account
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
              </a>
            </div>

          </form>
        </div>
      </div>
    </div>


     
    <!--Reset Password Modal-->
    <div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
   <div class="modal-dialog" style="width: 350px;">
       <div class="modal-content text-center">
           <div class="modal-header h5 text-white bg-danger justify-content-center">
               EntrApp Account Reset Password
           </div>
           <div class="modal-body px-10">
               <p class="py-2">
                   Enter your webmail address and we'll send you a link to reset your password. 
               </p>
               <p class="py-2">(example123@webmail.com)</p>
               <div class="form-outline">
                <form action="/request-reset-pass" method="POST">
                   <input name="resetpass" type="email" id="typeEmail" class="form-control my-3" required/>
                   <label class="form-label" for="typeEmail">Email input</label>
               </div>
               <button type="submit" class="btn btn-primary w-50 btn-danger">Reset Password</button>
           </div>
              </form>
       </div>
   </div>
</div>

{# SUCCESS MODAL #}  

<button type="hidden" id="success" href="#successmodal" class="trigger-btn" data-toggle="modal" style="display:none;"></button>

<div id="successmodal" class="modal fade" data-backdrop="static"> 
  <div class="modal-dialog modal-confirm">
    <div class="modal-content text-center">
      <div class="modal-header h5 text-white bg-success justify-content-center">				
        <h4 class="modal-title w-100">Successfully Sent!</h4>	
      </div>
      <div class="modal-body px-10">
        <p class="text-center">Your link to reset your EntrApp Account Password was confirmed. Please check your webmail.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <a href="/client-login" class="btn btn-primary w-50 btn-success">OK</a>
      </div>
    </div>
  </div>
</div>



{% if sentreset == 1 %}
<script>
  window.onload = function(){
    document.getElementById('success').click();
  }
</script>
{% endif %}


</body>

  {% endblock %}